.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.log
.metadata/.plugins/*
.metadata/*
.recommenders/*
RemoteSystemsTempFiles/*
/HolaMundo/.settings/*
/HolaMundo/bin/*
/HolaMundo/.classpath
/HolaMundo/.project