AprendiendoJava/.metadata/
AprendiendoJava/.recommenders/
AprendiendoJava/RemoteSystemsTempFiles/
/AprendiendoJava/.settings/
/AprendiendoJava/bin/
/AprendiendoJava/.classpath
/AprendiendoJava/.project
AprendiendoJava/.idea/
AprendiendoJava/out/
AprendiendoJava/javaAFondo.iml
AprendiendoJava/.gradle/
AprendiendoJava/build/